__pycache__/
.venv/
.DS_Store
*.pyc
*.pyo
*.vcf
*.vcf.gz
*.tbi
*.csi
data/
inputs/
outputs/
results/
tmp/
.pixi/
pixi.toml
pixi.lock
scripts/local_scripts/*
!scripts/local_scripts/10_run_prepare_trna_domain_bed.sh
!scripts/local_scripts/10_run_prepare_trna_domain_bed_with_pseudogenes.sh
!scripts/local_scripts/11_run_trna_domain_ucsc_data.sh
